<footer class="bg-info">
  <div class="border">
    <ul class="navbar-nav list-unstyled">
      <li class="nav-item ml-auto"><%= link_to "ヘルプ", "#", class: "header-item" %></li>
      <li class="nav-item ml-auto"><%= link_to "お問い合わせ", "#", class: "header-item" %></li>
    <ul>
    <%= debug(params) if Rails.env.development? %>
  </div>
</footer>