ul {
    list-style: none;
}

.form {
    text-align: center;
}

.container {
    background-color: lightgray;
    text-align: center;
}

.col-md-4 {
    background-color: burlywood;
}

table {
    background-color: white;
}

.label {
    text-align: center;
}

